
@import "@/node_modules/bootstrap/scss/functions";
@import "@/node_modules/bootstrap/scss/variables";
@import "@/scss/var.scss";
@import "@/node_modules/bootstrap/scss/bootstrap.scss";
@import "@/node_modules/element-ui/lib/theme-chalk/pagination.css";
@import "@/node_modules/element-ui/lib/theme-chalk/icon.css";

@font-face {
    font-family: "Helvetica Now Display";
    src: local("Helvetica Now Display Light Italic"), local("Helvetica-Now-Display-Light-Italic"),
        url("@/assets/fonts/HelveticaNowDisplay-LightIta.woff2") format("woff2"),
        url("@/assets/fonts/HelveticaNowDisplay-LightIta.woff") format("woff"),
        url("@/assets/fonts/HelveticaNowDisplay-LightIta.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}
.el-pagination {
    ul.el-pager {
        li.active {
            background-color: $app-main-color!important;
            color: $app-light-color!important;
        }
    }
    ul.el-pager > li.number, button {
        width: 3rem!important;
        height: 3rem!important;
        font-size: 1.5rem!important;
        padding: 0.75rem;
    }
}