$app-dark-color: #161616;
$app-dark-opacity-color: #161616d9;
$app-light-color: #fff;
$app-light-opacity-color : #ffffffbd;
$app-main-color: #296a54;
$app-main-opacity-color : #296a548f;

$navbar-light-color: $app-light-color;
$navbar-padding-x: 15%;
$navbar-padding-y: 0;

